{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set plan = content.field_price_list_plan %}
{% set currency = content.field_price_list_currency %}
{% set number =  content.field_price_list_number %}
{% set period = content.field_price_list_period %}
{% set excerpt = content.field_price_list_excerpt|render %}
{% set featured_header = content.field_price_list_featured_header|render %}
{% set featured_items = content.field_price_list_featured_item['#items'] %}
{% set link = content.field_link['0'] %}
{% set link_text = link['#title'] %}
{% set link_url = link['#url_title'] ? link['#url_title'] : '#' %}

<div class="block-7">
  <div class="text-center">
    <h2 class="heading">{{- plan -}}</h2>
    <span class="price">
      <sup>{{- currency -}}</sup>
      <span class="number">{{- number -}}<small class="per">{{- period -}}</small></span>
      {% if excerpt %}
        <span class="excerpt d-block">{{- excerpt -}}</span>
      {% endif %}
      {% if featured_header %}
        <h3 class="heading-2 mb-3">{{- featured_header -}}</h3>
      {% endif %}
      <ul class="pricing-text mb-4">
        {% for item in featured_items %}
          <li>{{- item.value|raw -}}</li>
        {% endfor %}
      </ul>
      {% if link %}
        <a href="{{- link_url -}}" class="btn btn-primary d-block px-3 py-3 mb-4">{{- link_text -}}</a>
      {% endif %}
    </span>
  </div>
</div>
