{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set photo = content.field_testimonial_photo['#items'].entity %}
{% if photo %}
  {% set photo_uri = photo.thumbnail.entity.fileuri|image_style('author') %}
  {% set photo_url = file_url(photo_uri) %}
{% else %}
  {% set photo_url = '/' ~ directory ~ '/images/default_photo.jpg' %}
{% endif %}
{% set quote = content.field_testimonial_quote %}
{% set name = content.field_testimonial_name %}
{% set position = content.field_testimonial_position %}

<div class="testimony-wrap p-4 text-center">
  <div class="user-img mb-4" style="background-image: url({{- photo_url -}})">
    <span class="quote d-flex align-items-center justify-content-center">
      <i class="icon-quote-left"></i>
    </span>
  </div>
  <div class="text">
    <p class="mb-4">{{- quote -}}</p>
    <p class="name">{{- name -}}</p>
    <span class="position">{{- position -}}</span>
  </div>
</div>
