{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set image = content.field_image['#items'].entity %}
{% if image %}
  {% set image_uri = image.thumbnail.entity.fileuri %}
  {% set image_url = file_url(image_uri) %}
  {% set image_alt = image.thumbnail.alt %}
{% endif %}
{% set heading = content.field_heading|render %}
{% set subheading = content.field_subheading|render %}
{% set body = content.field_body|render %}
{% set style = paragraph.field_tabs_style.value %}
{% set item_count = content.field_tabs_item['#items']|length %}

{% if style is same as("1") %}
  {%
    set classes = [
      'paragraph',
      'paragraph--type--' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      not paragraph.isPublished() ? 'paragraph--unpublished',
      'ftco-section',
      'bg-light'
    ]
  %}

  <section{{ attributes.addClass(classes) }}>
    <div class="container">
      {% if heading or subheading or body %}
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
            {% if subheading %}
              <span class="subheading">{{- subheading -}}</span>
            {% endif %}
            {% if heading %}
              <h2 class="mb-4">{{- heading -}}</h2>
            {% endif %}
            {% if body %}
              {{ body }}
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate fadeInUp ftco-animated">
          <div class="nav ftco-animate nav-pills justify-content-center text-center fadeInUp ftco-animated" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for i in 0..item_count - 1 %}
              {% set id = 'v-pills-tab-' ~ content.field_tabs_item[i]['#paragraph'].id() %}
              {% set active = loop.index0 == 0 ? 'active' %}
              {% set aria_selected = loop.index0 == 0 ? 'true' : 'false' %}
              {% set title = content.field_tabs_item[i]['#paragraph'].field_tabs_title.value %}
              <a class="nav-link {{ active }}"
                id="{{- id -}}-tab"
                data-toggle="pill"
                href="#{{- id -}}"
                role="tab"
                aria-controls="{{- id -}}"
                aria-selected="{{- aria_selected -}}"
              >
                {{ title }}
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-12 align-items-center ftco-animate fadeInUp ftco-animated">
          <div class="tab-content ftco-animate fadeInUp ftco-animated" id="v-pills-tabContent">
            {% for i in 0..item_count - 1 %}
              {% set id = 'v-pills-tab-' ~ content.field_tabs_item[i]['#paragraph'].id() %}
              {% set active = loop.index0 == 0 ? 'active show' %}
              {% set image = content.field_tabs_item[i]['#paragraph'].field_image.entity %}
              {% if image %}
                {% set image_uri = image.thumbnail.entity.fileuri %}
                {% set image_url = file_url(image_uri) %}
                {% set image_alt = image.thumbnail.alt %}
              {% endif %}
              {% set heading = content.field_tabs_item[i]['#paragraph'].field_heading.value %}
              {% set body = content.field_tabs_item[i]['#paragraph'].field_body.value %}
              {% set link = content.field_tabs_item[i]['#paragraph'].field_link.value.0 %}
              {% if link %}
                {% set link_build = link(link.title, link.uri) %}
                {% set link_title = link_build['#title'] %}
                {% set link_url = link_build['#url'].toString() ? link_build['#url'].toString() : '#' %}
              {% endif %}
              <div class="tab-pane fade {{ active }}" id="{{- id -}}" role="tabpanel" aria-labelledby="{{- id -}}-tab">
                <div class="d-md-flex">
                  {% if loop.index0 is odd %}
                    {% set tab_content_left_classes = 'one-forth align-self-center' %}
                    {% set tab_content_right_classes = 'one-half ml-md-5 align-self-center' %}
                  {% else %}
                    {% set tab_content_left_classes = 'one-forth order-last align-self-center' %}
                    {% set tab_content_right_classes = 'one-half order-first mr-md-5 align-self-center' %}
                  {% endif %}
                  <div class="{{- tab_content_left_classes -}}">
                    {% if image %}
                      <img src="{{- image_url -}}" class="img-fluid" alt="{{- image_alt -}}">
                    {% endif %}
                  </div>
                  <div class="{{- tab_content_right_classes -}}">
                    {% if heading %}
                      <h2 class="mb-4">{{- heading -}}</h2>
                    {% endif %}
                    {% if body %}
                      {{ body|raw }}
                    {% endif %}
                    {% if link %}
                      <a href="{{- link_url -}}" class="btn btn-primary py-3">{{- link_title -}}</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if style is same as("2") %}
  {%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'ftco-section',
    'ftco-no-pt'
  ]
  %}

  <section{{ attributes.addClass(classes) }}>
    <div class="container">
      <div class="row d-md-flex">
        <div class="col-md-6 ftco-animate img about-image fadeInUp ftco-animated"
             style="background-image: url({{- image_url -}});">
        </div>
        <div class="col-md-6 ftco-animate p-md-5 fadeInUp ftco-animated">
          <div class="row py-md-5">
            <div class="col-md-12 nav-link-wrap mb-5">
              <div class="nav ftco-animate nav-pills fadeInUp ftco-animated" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for i in 0..item_count - 1 %}
                  {% set id = 'v-pills-tab-' ~ content.field_tabs_item[i]['#paragraph'].id() %}
                  {% set active = loop.index0 == 0 ? 'active' %}
                  {% set aria_selected = loop.index0 == 0 ? 'true' : 'false' %}
                  {% set title = content.field_tabs_item[i]['#paragraph'].field_tabs_title.value %}
                  <a class="nav-link {{ active }}"
                     id="{{- id -}}-tab"
                     data-toggle="pill"
                     href="#{{- id -}}"
                     role="tab"
                     aria-controls="{{- id -}}"
                     aria-selected="{{- aria_selected -}}"
                  >
                    {{ title }}
                  </a>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-12 d-flex align-items-center">
              <div class="tab-content ftco-animate fadeInUp ftco-animated" id="v-pills-tabContent">
                {% for i in 0..item_count - 1 %}
                  {% set id = 'v-pills-tab-' ~ content.field_tabs_item[i]['#paragraph'].id() %}
                  {% set active = loop.index0 == 0 ? 'active show' %}
                  {% set heading = content.field_tabs_item[i]['#paragraph'].field_heading.value %}
                  {% set body = content.field_tabs_item[i]['#paragraph'].field_body.value %}
                  {% set link = content.field_tabs_item[i]['#paragraph'].field_link.value.0 %}
                  {% if link %}
                    {% set link_build = link(link.title, link.uri) %}
                    {% set link_title = link_build['#title'] %}
                    {% set link_url = link_build['#url'].toString() ? link_build['#url'].toString() : '#' %}
                  {% endif %}
                  <div class="tab-pane fade {{ active }}" id="{{- id -}}" role="tabpanel" aria-labelledby="{{- id -}}-tab">
                    {% if heading %}
                      <h2 class="mb-4">{{- heading -}}</h2>
                    {% endif %}
                    {% if body %}
                      {{ body|raw }}
                    {% endif %}
                    {% if link %}
                      <a href="{{- link_url -}}" class="btn btn-primary py-3">{{- link_title -}}</a>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
