{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set image = content.field_image['#items'].entity %}
{% if image %}
  {% set image_uri = image.thumbnail.entity.fileuri %}
  {% set image_url = file_url(image_uri) %}
  {% set image_alt = image.thumbnail.alt %}
{% endif %}
{% set heading = content.field_heading|render %}
{% set body = content.field_body|render %}
{% set style = paragraph.field_services_style.value %}
{% set item_count = content.field_services_item['#items']|length %}

{% if style is same as("1") %}
  {%
    set classes = [
      'paragraph',
      'paragraph--type--' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      not paragraph.isPublished() ? 'paragraph--unpublished',
      'ftco-section',
      'ftco-no-pt',
      'ftc-no-pb'
    ]
  %}

  <section{{ attributes.addClass(classes) }}>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 py-5">
          {% if image %}
            <img src="{{- image_url -}}" class="img-fluid" alt="{{- image_alt -}}">
          {% endif %}
          {% if heading or body %}
            <div class="heading-section ftco-animate mt-5 fadeInUp ftco-animated">
              {% if heading %}
                <h2 class="mb-4">{{- heading -}}</h2>
              {% endif %}
              {% if body %}
                {{- body -}}
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="col-lg-6 py-5">
          <div class="row">
            {% for i in 0..item_count - 1 %}
              {% set icon = content.field_services_item[i]['#paragraph'].field_services_icon.value %}
              {% set heading = content.field_services_item[i]['#paragraph'].field_heading.value %}
              {% set body = content.field_services_item[i]['#paragraph'].field_services_body.value %}
              {% if icon or heading or body %}
                <div class="col-md-6 ftco-animate fadeInUp ftco-animated">
                <div class="media block-6 services border text-center">
                  {% if icon %}
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="{{- icon -}}"></span>
                    </div>
                  {% endif %}
                  {% if heading or body %}
                    <div class="mt-3 media-body media-body-2">
                      {% if heading %}
                        <h3 class="heading">{{- heading -}}</h3>
                      {% endif %}
                      {% if body %}
                        <p>{{- body -}}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if style is same as("2") %}
  {%
    set classes = [
      'paragraph',
      'paragraph--type--' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      not paragraph.isPublished() ? 'paragraph--unpublished',
      'services-section',
      'ftco-section',
      'bg-light'
    ]
  %}

  <section{{ attributes.addClass(classes) }}>
    <div class="container">
      {% if heading or body %}
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
            {% if heading %}
              <h2 class="mb-4">{{- heading -}}</h2>
            {% endif %}
            {% if body %}
              {{- body -}}
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="row">
        {% for i in 0..item_count - 1 %}
          {% set icon = content.field_services_item[i]['#paragraph'].field_services_icon.value %}
          {% set heading = content.field_services_item[i]['#paragraph'].field_heading.value %}
          {% set body = content.field_services_item[i]['#paragraph'].field_services_body.value %}
          {% if icon or heading or body %}
            <div class="col-md-6 d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
              <div class="media block-6 services d-flex align-items-center">
                {% if loop.index0 is odd %}
                  {% if icon %}
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="{{- icon -}}"></span>
                    </div>
                  {% endif %}
                  {% if heading or body %}
                    <div class="media-body pl-4">
                      {% if heading %}
                        <h3 class="heading">{{- heading -}}</h3>
                      {% endif %}
                      {% if body %}
                        <p>{{- body -}}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
                {% if loop.index0 is even %}
                  {% if icon %}
                    <div class="icon d-flex align-items-center justify-content-center order-md-last">
                      <span class="{{- icon -}}"></span>
                    </div>
                  {% endif %}
                  {% if heading or body %}
                    <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                      {% if heading %}
                        <h3 class="heading">{{- heading -}}</h3>
                      {% endif %}
                      {% if body %}
                        <p>{{- body -}}</p>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% if style is same as("3") %}
  {% set item_attributes = create_attribute() %}
  {%
    set classes = [
      'paragraph',
      'paragraph--type--' ~ paragraph.bundle|clean_class,
      view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
      not paragraph.isPublished() ? 'paragraph--unpublished',
      'ftco-section'
    ]
  %}
  {%
    set item_classes = [
      item_count == '3' ? 'col-md-4',
      item_count == '4' ? 'col-md-3',
      'text-center',
      'ftco-animate',
      'fadeInUp',
      'ftco-animated'
    ]
  %}

  <section{{ attributes.addClass(classes) }}>
    <div class="container">
      <div class="row">
        {% for i in 0..item_count - 1 %}
          {% set icon = content.field_services_item[i]['#paragraph'].field_services_icon.value %}
          {% set heading = content.field_services_item[i]['#paragraph'].field_heading.value %}
          {% set body = content.field_services_item[i]['#paragraph'].field_services_body.value %}
          {% if icon or heading or body %}
            <div{{ item_attributes.addClass(item_classes) }}>
              <div class="steps">
                {% if icon %}
                  <div class="icon mb-4 d-flex justify-content-center align-items-center">
                    <span class="{{- icon -}}"></span>
                  </div>
                {% endif %}
                {% if heading %}
                  <h3>{{- heading -}}</h3>
                {% endif %}
                {% if body %}
                  <p>{{- body -}}</p>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
