{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'hero-wrap',
    'js-fullheight'
  ]
%}
{% set image = content.field_image['#items'].entity %}
{% if image %}
  {% set image_uri = image.thumbnail.entity.fileuri %}
  {% set image_url = file_url(image_uri) %}
  {% set image_alt = image.thumbnail.alt %}
{% endif %}
{% set subheading = content.field_subheading|render %}
{% set heading = content.field_hero_heading|render %}
{% set body = content.field_body|render %}
{% set link = content.field_link['0'] %}
{% set link_text = link['#title'] %}
{% set link_url = link['#url_title'] ? link['#url_title'] : '#' %}

<div{{ attributes.addClass(classes) }}>
  <div class="overlay"></div>
  <div class="container-fluid px-0">
    <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
      <div class="one-third align-self-end order-md-last js-fullheight">
        <img class="img-fluid js-fullheight" src="{{- image_url -}}" alt="{{- image_alt -}}">
      </div>
      <div class="one-forth d-flex align-items-center ftco-animate js-fullheight fadeInUp ftco-animated">
        <div class="text mt-5">
          {% if subheading %}
            <span class="subheading">{{- subheading -}}</span>
          {% endif %}
          {% if heading %}
          <h1 class="mb-3">{{- heading -}}</h1>
          {% endif %}
          {% if body %}
            {{ body }}
          {% endif %}
          {% if link %}
            <a href="{{- link_url -}}" class="btn btn-primary px-4 py-3">{{- link_text -}}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
