{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'ftco-section',
  'ftco-counter',
  'img'
]
%}

{% set counter_item_count = content.field_counter_item['#items']|length %}
{% set counter_item_attributes = create_attribute() %}
{% set counter_item_classes = [
  'd-flex',
  'justify-content-center',
  'counter-wrap',
  'ftco-animate',
  'fadeInUp',
  'ftco-animated',
  counter_item_count == 2 ? 'col-md-6',
  counter_item_count == 3 ? 'col-md-4',
  counter_item_count == 4 ? 'col-md-3'
]
%}

{% set subheading = content.field_subheading|render %}

<section{{ attributes.addClass(classes).setAttribute('id', 'section-counter') }}>
  <div class="container">
    {% if subheading %}
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate fadeInUp ftco-animated">
          <span class="subheading">{{ subheading }}</span>
        </div>
      </div>
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          {% for i in 0..counter_item_count - 1 %}
            <div{{ counter_item_attributes.addClass(counter_item_classes) }}>
              {{ content.field_counter_item[i] }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
