{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set classes = [
    'bg-light',
    'p-5'
  ]
%}

<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
