{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
    'search-domain',
    'btn',
    'btn-primary',
    'text-center'
  ]
%}

<div class="form-group d-flex">
  <input{{ attributes.addClass(classes) }} />{{ children }}
</div>
