{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set classes = [
  'btn',
  attributes.hasClass('button--primary') ? 'btn-primary',
  'py-3',
  'px-5'
]
%}

<input{{ attributes.addClass(classes) }} />{{ children }}
