#block-tabs ul {
  padding: 0;
}
#block-tabs ul li {
  display: inline-block;
  text-decoration: none;
}
#block-tabs ul li a {
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1;
  color: #333333;
  transition: 0.3s;
}
#block-tabs ul li a:hover,
#block-tabs ul li a:focus {
  background: #eeeeee;
}
#block-tabs ul li a.is-active {
  background: #eeeeee;
}

div[role="contentinfo"] {
  padding: 1rem;
  background: #eeeeee;
  margin-bottom: 1rem;
  color: #333333;
}

.domain-form .domain-name {
  width: 100%;
}

.domain-form .form-group input {
  padding-left: 20px;
  width: 100%;
}

.comment-card {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}
.comment-card .vcard {
  width: 80px;
  float: left;
}
.comment-card .vcard img {
  width: 50px;
  border-radius: 50%;
}
.comment-card .comment-body {
  float: right;
  width: calc(100% - 80px);
}
.comment-card .comment-body h3 {
  font-size: 18px;
  font-weight: 600;
}
.comment-card .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  color: #6927ff;
  margin-bottom: 15px;
}
.comment-card .comment-body .links {
  padding: 0;
}
.comment-card .comment-body .links li {
  display: inline-block;
  width: auto;
  float: none;
  margin: 0 10px 0 0;
}
.comment-card .comment-body .links a {
  padding: 5px 10px;
  background: whitesmoke;
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1em;
  font-weight: 400;
  border-radius: 4px;
}
.comment-card .comment-body .links a:hover,
.comment-card .comment-body .links a:focus {
  color: #fff;
  background: black;
}

.comment-list .indented {
  padding: 0 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-form {
  clear: both;
}
.comment-form [class*="comment-body-"][class*="-format"],
.comment-form [data-drupal-format-id="php"],
.comment-form [data-drupal-format-id="restricted_html"],
.comment-form [data-drupal-selector$="format-help-about"] {
  display: none;
}

.navbar-nav .nav-item.active.cta a.is-active {
  color: #ffffff;
}

section.article img {
  max-width: 100%;
  height: auto;
}

.hero-wrap .slider-text .one-third {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-wrap .slider-text .one-third img {
  object-fit: contain;
}

.ftco-partner .partner {
  text-align: center;
}

/*# sourceMappingURL=maps/style.css.map */
