{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <p class="breadcrumbs mb-0">
      {% for item in breadcrumb %}
        {% if item.url %}
          <span class="mr-3"><a href="{{ item.url }}">{{ item.text }} <i class="ion-ios-arrow-forward"></i></a></span>
        {% else %}
          <span>{{ item.text }}</span>
        {% endif %}
      {% endfor %}
    </p>
  </nav>
{% endif %}
