{#
/**
 * @file
 * Default theme implementation to present a menu link entity entity.
 *
 * Available variables:
 * - menu_link_content: Menu link entity.
 * - show_item_link: Indicator for menu item link.
 *
 * @see template_preprocess_menu_link_content()
 *
 * @ingroup themeable
 */
#}
{% import _self as menu %}

{{ menu.menu_link_content(attributes, menu_link_content, show_item_link, content, elements) }}

{% macro menu_link_content(attributes, menu_link_content, show_item_link, content, elements) %}
  {% import _self as menu_link_content %}
    {% if show_item_link %}
      {{ link(menu_link_content.getTitle(), menu_link_content.getUrlObject()) }}
    {% endif %}
    {% if content %}
      {{ content }}
    {% endif %}
{% endmacro %}
