{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menu_links %}
  {% set menu_classes = [
    'navbar-nav',
    'ml-auto'
  ]
  %}
  <ul{{ attributes.addClass(menu_classes) }}>
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes =
      [
        'nav-item',
        item.is_cta ? 'cta'
      ]
    %}
    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {{ link(item.title, item.url, { 'class' : 'nav-link' }) }}
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}
