.comment-card {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
  .vcard {
    width: 80px;
    float: left;
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  .comment-body {
    float: right;
    width: calc(100% - 80px);
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    .meta {
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: .1em;
      color: #6927ff;
      margin-bottom: 15px;
    }
    .links {
      padding: 0;
      li {
        display: inline-block;
        width: auto;
        float: none;
        margin: 0 10px 0 0;
      }
      a {
        padding: 5px 10px;
        background: whitesmoke;
        color: #000;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: .1em;
        font-weight: 400;
        border-radius: 4px;
        &:hover, &:focus {
          color: #fff;
          background: black;
        }
      }
    }
  }
}

.comment-list {
  .indented {
    padding: 0 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }
}

.comment-form {
  clear: both;
  [class*="comment-body-"][class*="-format"],
  [data-drupal-format-id="php"],
  [data-drupal-format-id="restricted_html"],
  [data-drupal-selector$="format-help-about"] {
    display: none;
  }
}
