#block-tabs {
  ul {
    padding: 0;
    li {
      display: inline-block;
      text-decoration: none;
      a {
        display: block;
        padding: 0.5rem 1rem;
        line-height: 1;
        color: #333333;
        transition: 0.3s;
        &:hover, &:focus {
          background: #eeeeee;
        }
        &.is-active {
          background: #eeeeee;
        }
      }
    }
  }
}
