{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set column_quote_attributes = create_attribute() %}
{% set column_price_attributes = create_attribute() %}
{% set column_action_attributes = create_attribute() %}

{% set price_subheading = content.field_price_subheading|render %}
{% set price_body = content.field_price_body|render %}
{% set column = price_subheading and price_body ? 'col-md-3' : 'col-md-6' %}
{% set link = content.field_call_to_action['0'] %}
{% set link_title = link['#title'] %}
{% set link_url = link['#url_title'] ? link['#url_title'] : '#' %}

{% set block_classes = [
  'row',
  'mb-5',
  'pb-5',
  'align-items-center',
  'd-flex'
]
%}

{% set column_quote_classes = [
  'col-md-6',
  'heading-section',
  'heading-section-white',
  'ftco-animate',
  'fadeInUp',
  'ftco-animated'
]
%}

{% set column_classes = [
  column,
  'ftco-animate',
  'fadeInUp',
  'ftco-animated'
]
%}

<div{{ attributes.addClass(block_classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h3{{ title_attributes }}>{{ label }}</h3>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ column_quote_attributes.addClass(column_quote_classes) }} >
      <span class="subheading">{{ content.field_quote_subheading }}</span>
      {{ content.field_quote_body }}
    </div>
    {% if price_subheading and price_body %}
      <div{{ column_price_attributes.addClass(column_classes) }} >
        <div class="price">
          <span class="subheading">{{ content.field_price_subheading }}</span>
          {{ content.field_price_body }}
        </div>
      </div>
    {% endif %}
    {% if link %}
      <div{{ column_action_attributes.addClass(column_classes) }} >
        <p class="mb-0">
          <a href="{{ link_url }}" class="btn btn-primary py-3 px-4">{{ link_title }}</a>
        </p>
      </div>
    {% endif %}
  {% endblock %}
</div>
