{% if author_picture_uri %}
  {% set author_picture_uri = author_picture_uri|image_style('author') %}
  {% set author_picture_url = file_url(author_picture_uri) %}
{% else %}
  {% set author_picture_url = '/' ~ directory ~ '/images/default_photo.jpg' %}
{% endif %}

<div class="about-author d-flex p-5 bg-light">
  <div class="bio mr-5">
    <img src="{{ author_picture_url }}" alt="{{- author_name|striptags -}}" class="img-fluid mb-4 rounded-circle">
  </div>
  <div class="desc align-self-md-center">
    <h3>{{- author_name|striptags -}}</h3>
    {{ author_bio|raw }}
  </div>
</div>
