<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    {% if page.footer_widget %}
      {{ page.footer_widget }}
    {% endif %}
    <div class="row mb-5">
      <div class="col-md">
        {% if page.footer_widget_1 %}
          <div class="ftco-footer-widget mb-4 bg-primary p-4">
            {{ page.footer_widget_1 }}
          </div>
        {% endif %}
      </div>
      <div class="col-md">
        {% if page.footer_widget_2 %}
          <div class="ftco-footer-widget mb-4 ml-md-5">
            {{ page.footer_widget_2 }}
          </div>
        {% endif %}
      </div>
      <div class="col-md">
        {% if page.footer_widget_3 %}
          <div class="ftco-footer-widget mb-4">
            {{ page.footer_widget_3 }}
          </div>
        {% endif %}
      </div>
      <div class="col-md">
        {% if page.footer_widget_4 %}
          <div class="ftco-footer-widget mb-4">
            {{ page.footer_widget_4 }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <p>This Drupal theme is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.drupal.org/spinetta" target="_blank">Spinetta</a></p>
      </div>
    </div>
  </div>
</footer>
