<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light sleep" id="ftco-navbar">
  <div class="container">
    {{ page.brand }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> {{ 'Menu'|t }}
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      {{ page.navigation }}
    </div>
  </div>
</nav>
