{% if hero_image_uri %}
  {% set hero_image = hero_image_uri|image_style('hero') %}
  {% set hero_image_url = file_url(hero_image) %}
{% else %}
  {% set hero_image_url = '/' ~ directory ~ '/images/default_hero.jpg' %}
{% endif %}

<div class="hero-wrap hero-wrap-2" style="background-image: url({{ hero_image_url }});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-8 ftco-animate text-center text-md-left mb-5 fadeInUp ftco-animated">
        {{ page.breadcrumb }}
        <h1 class="mb-3 bread">{{ page_title }}</h1>
      </div>
    </div>
  </div>
</div>
